@import url(https://fonts.googleapis.com/css?family=Raleway);
:root {
  --color-navbar: #000;
  --color-navbar-text: #fff;
}
* {
  font-family: "Raleway";
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

@media (min-width: 640px) {
  body {
    font-size: 18px;
  }
}
